header {
  padding: 10px 0;
}

header h1 {
  font-weight: 700;
  margin-left: 20px;
}

.marketing-jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://surescribbles.files.wordpress.com/2016/09/gallows.jpg?w=750');
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}